body{
    text-align: center;
}

#display{
    width: 525px;
    height: 525px;
    background-color: #6a1a21;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#board{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}